.App {
  text-align: center;
  background-color: purple;
}

button{
  width: 40px;
  height: 40px;
  margin: 40px;
  border-radius: 20%;
  cursor: pointer;
  font-size: 30px;
}
span{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}